# ========================
# C++ / Visual Studio
# ========================
# Build output
[Bb]in/
[Oo]bj/
*.obj
*.o
*.a
*.so
*.exp
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
*.log

# IDE files
.vs/
*.vcxproj.user
*.suo
*.VC.db
*.VC.opendb

# Run - specific files
my.info
defensive.db

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Package build
build/
dist/
*.egg-info/